<div class="form-container">
    <h3> Edit Patient</h3>
    <form id="editForm">

        <div class="row g-3 align-items-center justify-content-center">

            <div class="col-md-6 xx ">
                <label>First Name</label>
                <input type="text" id="fname" class="form-control" placeholder="First Name" />
            </div>

            <div class="col-md-6 xx ">
                <label>Last Name</label>
                <input type="text" id="lname" class="form-control" placeholder="Last Name" />
            </div>
            <div class="col-md-6 xx">
                <label class="col-form-label">Gender</label>

                <select id="gender" name="gender" class="form-control">
                    <option value="xx">--select gender--</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>

            </div>
            <div class="col-md-6 xx">

                <label class="col-form-label"> Phone Number </label>
                <input type="number" id="phonenumber" name="phoneNo" class="form-control" placeholder="Enter Your Phone Number..." />
            </div>
            <div class="col-md-6 xx">


                <label class="col-form-label">Address</label>
                <input type="text" class="form-control" id="address" placeholder="Your Address" />
            </div>

            <div class="col-md-6 xx">
                <label class="col-form-label">Date of Birth</label>

                <input type="date" id="birthday" class="form-control" placeholder="12-12-1999" />
            </div>


            <div class="col-md-12 d-flex justify-content-center">
                <button class="btn btn-outline-primary mx-2 fontBtn mb-4 mt-5" type="submit" id="savePatient">Save</button>

                <a href="#" class="btn btn-outline-secondary mx-2 fontBtn mb-4 mt-5" id="cancel">Cancel</a>
            </div>
        </div>


    </form>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(document).ready(function(id){
        var patientId = '@Context.Request.RouteValues["id"]';
        console.log(patientId)
        $.ajax({
            method: 'GET',
            url: "https://localhost:7243/api/patient/" + patientId,


        }).done(function (data) {
            console.log(data);
            $("#fname").val(data.firstName);
            $("#lname").val(data.lastName);
            $("#gender").val(data.gender);
            $("#birthday").val(data.dateOfBirth);
            $("#phonenumber").val(data.phoneNumber);
            $("#address").val(data.address);

        });
        $("#editForm").submit(function (e) {
            e.preventDefault();
            var editedPatient = {
                "firstName": $("#fname").val(),
                "lastName": $("#lname").val(),
                "gender": $("#gender").val(),
                "dateOfBirth": $("#birthday").val(),
                "phoneNumber": $("#phonenumber").val(),
                "address": $("#address").val()


            }; 
            $.ajax({
                method: "PUT",
                url: "https://localhost:7243/api/patient/" + patientId,
                contentType: 'application/json',
                data: JSON.stringify(editedPatient),
                success:function (res) {
                       alert("updated");
                    window.location.href = 'https://localhost:7285/patient';

                    },
                failure: function (res) {
                    alert("error:" )
                }

          

            })

        });


        $("#cancel").on("click", function () {
            window.location.href = "https://localhost:7285/Patient";
        });
    })
</script>